# Cerner's NPM regristry for published modules
registry=https://cernerrepos.net/api/npm/npm

# Cerner's KC NPM regristry for snapshot modules
# registry=https://cernerrepos.net/api/npm/dev-npm

# Cerner's BLR NPM regristry for snapshot modules
# registry=https://blr-edge.cernerrepos.net/api/npm/dev-npm

package-lock=false